<h1 class="mb-4">Cart</h1>
<% if @cart.cart_items.empty? %>
    <div>Your cart is empty</div>
<% else %>
    <table class="table table-striped mb-4">
    <thead>
        <tr class="table-dark">
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price Per Book</th>
        <th scope="col">Total Cost</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

    <% @cart.cart_items.includes(:book).each do |cart_item| %>
        <tr class="align-items-center">
        <td><%= cart_item.book.title%></td>
        <td><%= cart_item.book.author%></td>
        <td><%= cart_item.book.genre%></td>
        <td>
            <%= form_with url: update_cart_item_path(cart_item.id), method: :patch, class: "d-flex gap-2", local: true do %>
            <%= number_field_tag 'quantity', cart_item.quantity, min: 1, class: 'form-control', style: "width:60px;" %>
            <%= submit_tag 'Update', class: 'btn btn-sm btn-dark' %>
            <% end %>
        </td>
        <td><%= cart_item.book.price%></td>
        <td><%= cart_item.book.price * cart_item.quantity%></td>
        <td><%= link_to image_tag("icons/delete-icon.svg"), delete_book_from_cart_path(cart_item.id), method: :delete %></td>
        </tr>
    <% end %>
    </tbody>
    </table>
    <%= form_with model: @order, url: create_order_path, method: :post do |form| %>
        <div class="d-flex justify-content-between">
            <h4>Total Price</h4>
            <h4><%=@cart.total_price %></h4>
        </div>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <div class="d-flex justify-content-end mt-4">
            <%= form.submit "Place Order", class: "btn btn-dark" %>
        </div>
    <%end%>
<%end%>
