<h1>Dashboard</h1>

<div class="mt-4 d-flex justify-content-between align-items-center">
    <h2 class="">Books</h2>
    <%= link_to "Add Book", admin_book_new_path, class:"btn btn-dark" %>
</div>

<table class="table table-striped mt-2">
  <thead>
    <tr class="table-dark">
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Genre</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

  <% @books.each_with_index do |book, idx| %>
      <tr>
      <th scope="row"><%= idx + 1%></th>
      <td><%= book.title%></td>
      <td><%= book.author%></td>
      <td><%= book.category.name%></td>
      <td><%= book.description[0..50]%>...</td>
      <td><%= book.price%></td>
      <td><%= book.stock_quantity%></td>
      <td><%= link_to image_tag("icons/delete-icon.svg"), delete_book_path(book.id), method: :delete %><%= link_to image_tag("icons/edit-icon.svg"), admin_book_edit_path(book.id) %> <%#= link_to image_tag("icons/edit-icon.svg"), edit_friend_path(friend.id) %> <%# link_to "#{friend.posts_count}", friend_posts_path(friend.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="mt-4 d-flex justify-content-between align-items-center">
    <h2 class="">Orders</h2>
</div>

<table class="table table-striped mt-2">
  <thead>
    <tr class="table-dark">
      <th scope="col">Id</th>
      <th scope="col">User Id</th>
      <th scope="col">Total</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

  <% @orders.each_with_index do |order, idx| %>
      <tr>
      <th scope="row"><%= idx + 1%></th>
      <th scope="row"><%= order.user_id%></th>
      <td><%= order.total%></td>
      <td class="text-capitalize">
        <%= form_with model: order, url: order_update_path(order.id), method: :patch, class: "d-flex gap-2", local: true do %>
            <%= select_tag "order[status]", options_for_select(["Pending", "In Review", "Processed", "Shipped", "Delivered"], selected: order.status), class: "form-select", style: "width: 150px;" %>
            <%= submit_tag 'Update', class: 'btn btn-sm btn-dark' %>
        <% end %>
      </td>
      <td><%= link_to image_tag("icons/details-icon.svg"), order_details_path(order.id)%></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="mt-4 d-flex justify-content-between align-items-center">
    <h2 class="">Catgories</h2>
    <%= link_to "Add Category", admin_category_new_path, class:"btn btn-dark" %>
</div>

<table class="table table-striped mt-2">
  <thead>
    <tr class="table-dark">
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

  <% @categories.each_with_index do |category, idx| %>
      <tr>
      <th scope="row"><%= idx + 1%></th>
      <td><%= category.name%></td>
      <td><%= link_to image_tag("icons/delete-icon.svg"), admin_category_delete_path(category.id), method: :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="mt-4 d-flex justify-content-between align-items-center">
    <h2 class="">Users</h2>
</div>
<table class="table table-striped mt-2">
  <thead>
    <tr class="table-dark">
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Admin</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each_with_index do |user, idx| %>
      <tr>
      <th scope="row"><%= idx + 1%></th>
      <td><%= user.name%></td>
      <td><%= user.email%></td>
      <td><%= user.mobile%></td>
      <td><%= user.admin == true ? "Yes" : "No"%></td>
    </tr>
  <% end %>
  </tbody>
</table>