<h1>Shop</h1>
<div class="d-flex gap-4 mt-4">
    <%@books.each do |book| %>
        <div class="card p-2" style="width: 17rem;">
            <% if book.image.attached? %>
            <%= image_tag book.image, class: "card-img-top", style: "height: 250px; object-fit: contain;" %>
            <% end %>
            <div class="card-body">
                <h5 class="card-title"><%= book.title %></h5>
                <p>Author: <span class="fw-semibold"><%= book.author %></span></p>
                <p>Price: <span class="fw-semibold"><%= book.price %></span></p>
                <div class="d-flex justify-content-between">
                    <%= link_to 'View', book_details_path(book.id), class: "btn btn-secondary" %>
                    <%= link_to "Add To Cart", add_to_cart_path(book.id), method: :post, class: "btn btn-secondary" %>
                </div>
            </div>
        </div>
    <%end%>
</div>

